.controls {
  display: grid;
  grid-auto-rows: 62px;
  grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
  gap: 5px;

  @media #{$desktop} {
    grid-auto-rows: 85px;
  }

  //.controls__description
  &__description {
    display: flex;
    align-items: center;
  }

  //.controls__amount
  &__amount {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 9%;
    row-gap: 6px;
    padding: 0;

    border: none;
  }

  //.controls__radio
  &__radio {
    &:checked + .controls__label {
      &::after {
        opacity: 1;
      }
    }
  }

  //.controls__label
  &__label {
    position: relative;

    width: 21%;
    padding-left: 33px;

    cursor: pointer;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 28px;
      height: 28px;

      border: 2px solid $border-color;
      border-radius: 8px;

      transition: box-shadow 0.3s ease 0s;
    }

    &::after {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;

      display: block;
      width: 18px;
      height: 18px;

      background-color: $border-color;
      border-radius: 8px;
      opacity: 0;

      transform: translate(5px, -50%);
      transition: opacity 0.3s ease 0s;
    }

    @media #{$tablet} {
      &:hover,
      &:focus,
      &:active {
        &::before {
          box-shadow: 0 0 8px 1px #73bcff;
        }
      }
    }

    @media #{$desktop} {
      padding-left: 45px;

      &::before {
        width: 40px;
        height: 40px;
      }

      &::after {
        width: 24px;
        height: 24px;

        transform: translate(8px, -50%);
      }
    }
  }

  //.controls__result
  &__result {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: $font-size-big;
    text-transform: uppercase;
  }

  //.controls__score
  &__score {
    max-width: 65px;

    text-align: right;
    color: $font-color-base;

    background-color: transparent;
    border: none;
    outline: none;

    @media #{$desktop} {
      max-width: 95px;
    }
  }

  //.controls__btn
  &__btn {
  }
}
