.playground {
  position: relative;

  display: grid;
  gap: 2px;

  height: 375px;
  padding: 1px;

  border-radius: 8px;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: block;
    width: 100%;
    height: 100%;

    background-color: $bg-color-dark;
    border-radius: 8px;
    opacity: 0;

    transition: opacity 0.3s ease 0s;

    pointer-events: none;
  }

  @media #{$tablet} {
    height: 360px;
  }

  @media #{$laptop} {
    height: calc(100vh - #{$container-padding-lap} * 2);
    min-height: 550px;
    max-height: 768px;
  }

  //.playground--covered
  &--covered {
    &::before {
      opacity: 1;
      pointer-events: initial;
    }
  }

  //.playground--10
  &--10 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  //.playground--12
  &--12 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  //.playground--14
  &--14 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  //.playground--16
  &--16 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  //.playground--18
  &--18 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }

  //.playground--20
  &--20 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    @media #{$tablet} {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
